/* COMMON */
* {
	margin: 0;
	padding: 0;
}
body {
        margin: 0;
        padding: 0;
        -webkit-transform-style: preserve-3d;
        overflow: hidden;
        background-color:#fff;
	color:#292929;
}
h1{
	position: absolute;
	top: -500px;
}
#qa,#ex{
	padding:40px;
}
#qa{
	background-color:#ffa;
}
.wrapper{
	/*width:1280px;
	height:800px;*/
    width: 100%;
    height: 100%;
	margin:0;
	padding:0;
}
#txt02.wrapper{
	height:740px;
}
.row,.row > div{
	padding:0;
	margin:0;
}

article{
	display:table-cell;
	vertical-align:middle;
	/*width:1280px;
	height:400px;*/
    width:100%;
    height:100%;
	padding:20px 40px;
	text-align:center;
}
header,footer{
	width:100%;
	background-color:#ffa;
	font-weight:700;
}

#txt02 header{
	height:140px;
	padding:20px 0 20px 40px;
	margin-top:60px;
}
header{
	font-size:76px;
}
footer{
	text-align:right;
	font-size:54px;
	line-height:150px;
}

.map > div > div:nth-of-type(1),.image > div > div:nth-of-type(1){
	margin:0;
}
.map > div > div:nth-of-type(2),.image > div > div:nth-of-type(2){
	margin:-180px 0 0 0;
}
.map .maptext,.text .texttext,.image .imagetext{
	display:table-cell;
	vertical-align:middle;
	text-align:left;
	height:500px;
}
.map .maptext,.image .imagetext{
	width:80%;
}
.image .imagetext p{
	font-size:50px;
	font-weight:400;
	line-height:65px;
	margin-bottom:15px;
    overflow-y: scroll;
}
.image .imageimage{
	display:table-cell;
	vertical-align:middle;
	width:600px;
	height: 720px;
	padding:15px;
	text-align:center;
	background-color:#fff;
	border:10px solid #fc6;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}
.image .imageimage img{
	max-width: 560px;
	max-height: 680px;
}

html, body, #map-canvas  {
  margin: 0;
  padding: 0;
  height: 100%;
}

#map-canvas {
  width:1500px;
  height:960px;
}

#map-canvas img {
    max-width: none;
}
